@media screen and (max-width: 1440px) {
    .mast_content {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1280px) {
    .mast_content {
        margin-right: 8%;
    }
}

@media screen and (max-width: 1062px){
    .mast_content {
        margin-right: 3%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 454px){
    .mast_block  {
        margin: 0 9% 0 7%;
    }
    
    .mast_img img {
        height: 100%;
        width: 100%;
    }
    
    .mast_title {
        margin-bottom: 13%;
    }

}