@media screen and (max-width: 1152px){
    .foot_container {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 800px){
    .foot_container {
        margin-right: 10%;
        margin-left: 10%;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .foot_container .foot_block{
        padding: 5%;
    }
}

@media screen and (max-width: 425px){
    .foot_container {
        margin-right: 10%;
        margin-left: 10%;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
}